#container {
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    box-shadow: 10px 5px 5px rgb(98, 97, 97);
    height: 575px;
    width: 575px;
    box-sizing: border-box;
    background-color: rgb(224, 220, 220);
}

.header {
    background-image: linear-gradient(rgb(168, 167, 167), snow);
    padding-top: 10px;
}

.cell {
   box-sizing: border-box;
}

#title {
    display: flex;
    background-image: linear-gradient(90deg, rgb(121, 242, 155), rgb(241, 134, 255));
    color: snow;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 72px;
    margin-top: 20px;
    box-shadow: 10px 5px 5px rgb(98, 97, 97);
    font-size: small;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 20px;
}

#gridsize {
    background: rgb(121, 242, 155);
    color: snow;
    border: none;
    width: 100px;
    height: 30px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

#rainbow {
    background: rgb(241, 134, 255);
    color: snow;
    border: none;
    width: 100px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

#tipmessage {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.quote {
    color: black;
    width: 580px;
    height: 20px;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    background-color: snow;
    text-align: center;
    font-family: Helvetica, Impact, Arial;
    margin: 0px;
<<<<<<< HEAD
    padding: 0;
=======
>>>>>>> 5f11b0e0ab397e60a524bf1c364f169d7f9e2126
    height: 100vh;
}
