#container {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 7.5px;
    border-color: black;
    max-width: 352px;
    margin: auto;
}

.cell {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    margin: 0px;
    align-items: center;
}

.title {
    text-align: center;
}

html {
    background-color: snow;
}