#container {
    margin-top: 0px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    border: 7.5px solid black;
    border-radius: 10px;
    height: 575px;
    width: 575px;
    box-sizing: border-box;
    background-color: snow;
}

.cell {
   box-sizing: border-box;
}

#title {
    display: flex;
    background-color: crimson;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 72px;
    margin-top: 50px;
    border-style: solid aqua;
    border-radius: 35px;
    font-size: small;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 20px;
}

#update {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 175px;
    align-items: flex-start;
    margin: 0;
    position: absolute;
    margin-left: 50px;
    margin-top: 12px;
    font-size: larger;
    background-color: black;
    color: snow;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
}

#gridsize {
    background: black;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    font-size: large;
    border-radius: 20px;
    font-weight: bold;
}

#rainbow {
    background: black;
    color: white;
    border: none;
    width: 100px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
}

#tipmessage {
    text-align: center;
    margin-top: 40px;
}

.quote {
    color: black;
    width: 580px;
    height: 20px;
    margin-left: 661px;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    background: linear-gradient(-25deg, #c7130c, #e73c7e, #a223d5, #2394d5);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
}
